.post-list div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.post-list ul {
    padding: 0;
    margin: 0;
}

.post-list li {
    display: inline-block;
}

a:link {
  color: #F2F0EF;
  text-decoration: none;
}

a:visited {
  color: skyblue;
  text-decoration: none;
  text-underline-offset: 10px;
}

a:hover {
  background-color: #F2F0EF;
  color: #000314;
  text-decoration: #000314 dotted;
  transition:
  all 350ms 50ms ease-in;
}