@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #000314;
  color: #F2F0EF;
  font-family: "Hanken Grotesk";
  max-width: 100ch;
  margin: 0 auto;
  padding-bottom: 24px;
}

.post-list {
  display: inline-flex;
}

#subtitle {
  text-align: center;
  font-style: italic;
  color: #e1e4f9;
}

article {
	line-height: 2.0;			
  font-size: 20px;
}

article a:link {
  color: #F2F0EF;
  text-decoration: underline wavy;
  text-underline-offset: 10px;
}

article a:visited {
  color: skyblue;
  text-decoration: underline wavy;
  text-underline-offset: 10px;
}

article a:hover {
  background-color: #F2F0EF;
  color: #000314;
  text-decoration: #000314 dotted;
  transition:
  all 350ms 50ms ease-in;
}

img {
  display: block;
  margin: auto;
  width: 75%;
}
 
h1 {
  font-size: 3rem;
  text-align: center;
}

.post-header {
  font-weight: 900;
}

.header-stamp {
  display: flex;
  column-gap: 5%;
  justify-content: space-between;
  flex-flow: row-reverse;
  padding-bottom: 10px;
}

.header-stamp #date {
  font-style: italic;
}
.post-header h2 {
  font-size: 1.75rem;
  text-align: left;
}

.header-stamp {
  border-bottom: #F2F0EF dotted 2px;
}

