---
layout: base.njk
permalink: /about/
title: About
---
<section class="about">
    <header><h1>{{ title }}</h1></header>
    <h2>What is this place?</h1>
    <h2 class="faded-normal">and how did I get here?</h2>
</section>