---
layout: base.njk
permalink: /about/
title: About
---
<div class="div-align-main">
    <section class="about">
        <header><h1>{{ title }}</h1></header>
        <h2 class="faded-normal">What is this place and how did I get here?</h2>
        <p>Formerly a blog on Substack, this a place to post all my writing on film that doesn't find
            it's way onto the other sites I write for. Scrappy, unfiltered and (hopefully 🤞) fun, <em>Finn Writes Movies</em>
            is the perfect outlet to beef up your media diet.</p>
        <p>And that's my completely unbiased review. ⭐️⭐️⭐️⭐️⭐️</p>
    </section>
</div>