---
permalink: /
title: Home
eleventyExcludeFromCollections: true
layout: base.njk
---
<section class="latest">
    <h1>Latest</h1>
    <ul class="boxes">
        {%- for post in collections.allMySortedContent -%}
        {% include "post-list-item.njk" %}
        {%- endfor -%}
    </ul>
</section>
