---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
title: {{ tag | slugify }}
---
<div class="div-align-main">
  <section class="sel-collection">
    <h1>Tag – “{{ tag | slugify }}”</h1>
    <div class="boxes">
      {% for post in collections[ tag ] %}
      {% include "post-list-item.njk" %}
      {% endfor %}
    </div>
  </section>
</div>