@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #000314;
  color: #F2F0EF;
  font-family: "Hanken Grotesk";
  max-width: 100ch;
  margin: 0 auto;
  padding-bottom: 24px;
}

.post-list {
  display: inline-flex;
}

.post-title {
  color: #e1e4f9;
}

.post-title #subtitle {
  margin-bottom: 0;
  margin-top: 12px;
}

.faded-normal {
  font-weight: normal;
}

article {
  padding-top: 2rem;
}

article p {
  line-height: 2.0;
  font-size: 18px;
}

article a:link {
  color: #F2F0EF;
  text-decoration: underline wavy;
  text-underline-offset: 10px;
}

article a:visited {
  color: skyblue;
  text-decoration: underline wavy;
  text-underline-offset: 10px;
}

article a:hover {
  background-color: #F2F0EF;
  color: #000314;
  text-decoration: #000314 dotted;
  transition:
  all 350ms 50ms ease-in;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
}
 
h1 {
  font-size: 2rem;
}

.post-header {
  margin: 0;
}

.header-stamp div {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}

#author, #date {
  margin: 0px;
  font-size: 1rem;
}

#extra-padding-header-stamp {
  padding: 20px 0;
}

.faded-normal{
  font-weight: 400;
  font-style: italic;
}
.post-header h2 {
  font-size: 1.75rem;
  text-align: left;
}

